<app-navbar></app-navbar>
<h1>Cart</h1>
<div class="frame">
  <div>
    <div *ngIf="cartList.length>0">
      <button class="primary" (click)="checkout()">Checkout</button>

      <div class="padding-left bold">Cart Value: <span>₹{{this.totalPrice}}</span></div>
      <div class="padding-left bold">Savings: <span>₹{{this.savings}}</span></div>
    </div>
    <div *ngFor="let item of cartList;let i=index">
      <app-courses [item]="item"></app-courses>
      <button class="primary" (click)="moveToWish(i)">Wishlist</button>
      <button class="error" (click)="removeFromCart(i)">Remove Cart</button>
    </div>
  </div>


</div>
