
<div class="grid">
    <div class="link course">{{item.courseName}}<span class="fa fa-arrow-right"></span></div>
   <div>
    Author : 
    {{item.author}}
   </div>
   <div>
    Actual Price : 
    {{item.actualPrice}}
   </div><div>
    Discount % :
    {{item.discountPercentage}}
   </div><div>
    Tags :
    {{item.tags}}
   </div>
</div>
<div class="grid-fit wish-cart">
    <button class="primary" type="submit">Cart</button>

    <span [ngClass]="item.wishlist?'fa fa-star checked link':'fa fa-star link'"></span>
</div>