<app-navbar></app-navbar>
<div class="frame">
  <p class="bold">Hello ,</p>
  <p>I am Vandana Nayak</p>
  <p>
    Working in Novaders LLP, RR Nagar for 2 years as Associated Software
    Enginner
  </p>
  <br />
  <hr />
  <p class="bold">Skills</p>
  <ul>
    <li>Angular</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Typescript</li>
    <li>Rxjs</li>
  </ul>
  <br />
  <hr />
  <p class="bold">Project</p>
  <ul>
    <li>Ozust (December 2021 to March 2022)</li>
    <li>Cymonix (March 2022 to Present)</li>
  </ul>
  <br>
  <hr>
  <p class="hyper-link" (click)="goToResume()">View Resume</p>
  <button class="primary pagination-container" (click)="logout()">Logout</button>

</div>
