/* You can add global styles to this file, and also import other style files */
.grid{
    display: grid;
    gap: 10px;
    padding: 10px;
}
.navbar {

    @extend .grid;
    grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
    align-items: center;
    box-shadow: 3px 7px 5px -7px rgb(214 210 210 / 30%);
    justify-items: center;
}
*{
    margin: 0;
}

.link{
    cursor: pointer;
}